@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #222629;
  --color-secondary: #474b4f;
}

body {
  font-family: 'Quicksand';
}
